spring:
  datasource:
    url: jdbc:h2:mem:medical_db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  liquibase:
    enabled: true
    change-log: classpath:/db/db.changelog-master.xml